#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    quick-tap-ms = <200>;
    flavor = "tap-preferred";
    require-prior-idle-ms = <125>;
};

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <130>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 33 34 35>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <130>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32>;
            hold-trigger-on-release;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
  &kp Q        &kp W        &kp E         &kp R          &kp T                          &kp Y  &kp U         &kp I         &kp O        &kp P
  &hml LGUI A  &hml LALT S  &hml LSHFT D  &hml LCTRL F   &kp G                          &kp H  &hmr RCTRL J  &hmr RSHFT K  &hmr LALT L  &hmr RGUI SEMICOLON
  &kp Z        &kp X        &kp C         &kp V          &kp B                          &kp N  &kp M         &kp COMMA     &kp DOT      &kp SQT
                                          &kp BACKSPACE  &mo 3  &kp SPACE    &kp ENTER  &mo 4  &kp TAB
            >;

            display-name = "Base";
        };

        mouse {
            bindings = <
  &none    &msc SCRL_LEFT  &msc SCRL_UP  &msc SCRL_DOWN  &msc SCRL_RIGHT                   &none  &none      &none       &none     &none
  &kp ESC  &mmv MOVE_LEFT  &mmv MOVE_UP  &mmv MOVE_DOWN  &mmv MOVE_RIGHT                   &none  &kp LCTRL  &kp LSHIFT  &kp LALT  &kp LGUI
  &to 2    &mkp RCLK       &mkp MCLK     &mkp LCLK       &none                             &none  &none      &none       &none     &none
                                         &trans          &to 0            &trans    &none  &none  &none
            >;
        };

        numpad {
            bindings = <
  &kp KP_ASTERISK  &kp KP_N7  &kp KP_N8  &kp KP_N9      &kp KP_SLASH                           &kp KP_LPAR   &none      &none       &none     &kp KP_NUMLOCK
  &kp KP_PLUS      &kp KP_N4  &kp KP_N5  &kp KP_N6      &kp KP_N0                              &kp KP_EQUAL  &kp LCTRL  &kp LSHIFT  &kp LALT  &kp LGUI
  &kp KP_MINUS     &kp KP_N1  &kp KP_N2  &kp KP_N3      &kp KP_DOT                             &kp KP_RPAR   &none      &none       &none     &none
                                         &kp BACKSPACE  &to 0         &kp TAB    &kp KP_ENTER  &none         &none
            >;
        };

        nav {
            bindings = <
  &kp N1         &kp N2           &kp N3            &kp N4            &kp N5                       &kp N6    &kp N7    &kp N8  &kp N9     &kp N0
  &hml LGUI ESC  &hml LALT PSCRN  &hml LSHFT PG_UP  &hml LCTRL PG_DN  &kp ENTER                    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &none
  &to 1          &kp LEFT         &kp UP            &kp DOWN          &kp RIGHT                    &kp HOME  &none     &none   &kp END    &kp DELETE
                                                    &trans            &trans     &trans    &trans  &mo 5     &trans
            >;

            display-name = "Navigation";
        };

        sym {
            bindings = <
  &kp GRAVE  &kp AT          &kp HASH          &kp DOLLAR       &kp PERCENT                    &kp CARET          &kp AMPS         &kp ASTRK         &kp PIPE        &kp BACKSLASH
  &kp LGUI   &hml LALT LPAR  &hml LSHFT MINUS  &hml LCTRL RPAR  &kp PLUS                       &kp LBKT           &hmr RCTRL LBRC  &hmr RSHFT UNDER  &hmr LALT RBRC  &hmr RGUI EXCL
  &none      &kp LT          &kp EQUAL         &kp GT           &none                          &kp RIGHT_BRACKET  &none            &kp QUESTION      &kp SLASH       &kp TILDE
                                               &trans           &mo 5        &trans    &trans  &trans             &trans
            >;

            display-name = "Symbols";
        };

        adj {
            bindings = <
  &bootloader  &kp F1        &kp F2         &kp F3         &kp F4                     &bt BT_SEL 0  &bt BT_SEL 1         &bt BT_SEL 2       &bt BT_SEL 3        &bt BT_CLR
  &kp LGUI     &hml LALT F5  &hml LSHFT F6  &hml LCTRL F7  &kp F8                     &out OUT_BLE  &hmr RCTRL C_VOL_DN  &hmr RSHFT C_MUTE  &hmr LALT C_VOL_UP  &kp RGUI
  &kp K_LOCK   &kp F9        &kp F10        &kp F11        &kp F12                    &out OUT_USB  &kp C_BRI_DEC        &none              &kp C_BRI_UP        &none
                                            &trans         &trans   &trans    &trans  &trans        &trans
            >;

            display-name = "Adjust";
        };
    };
};
